---
layout: default
sections:
  - title: Tattoos
    link: /gallery_tattoos.html
    text: Sample selection of some more recent tattoos. Check out my instagram for more!
    images:
    - thumb_path: /assets/img/tattoos_thumbs_sqr/IMG_0783.JPG
      name: IMG_0783
    - thumb_path: /assets/img/tattoos_thumbs_sqr/IMG_0785.JPG
      name: IMG_0785
    - thumb_path: /assets/img/tattoos_thumbs_sqr/IMG_0791.JPG
      name: IMG_0791
  - title: Anku
    link: /gallery_anku.html
    text: Your Artist.
    images:
    - thumb_path: /assets/img/anku_thumbs_sqr/73B6FEE6-C93F-48B3-A569-A17A32D5E8D3.JPG
      name: 73B6FEE6-C93F-48B3-A569-A17A32D5E8D3
    - thumb_path: /assets/img/anku_thumbs_sqr/7f89ad6b-b46b-4960-9cf4-f2fa57f2a84c.JPG
      name: 7f89ad6b-b46b-4960-9cf4-f2fa57f2a84c
    - thumb_path: /assets/img/anku_thumbs_sqr/Anku (7).jpg
      name: Anku (7)
  - title: Flash
    link: /gallery_flash.html
    text: Drawings that can become your tattoo
    images:
    - thumb_path: /assets/img/flash_thumbs_sqr/Left_mermaid.jpg
      name: Left_mermaid
    - thumb_path: /assets/img/flash_thumbs_sqr/Middle_mermaid.jpg
      name: Middle_mermaid
    - thumb_path: /assets/img/flash_thumbs_sqr/Right_mermaid.jpg
      name: Right_mermaid
  - title: Studio
    link: /gallery_studio.html
    text: Pictures of my cute little studio in Glasgebouw Strijp-S! 
    images:
    - thumb_path: /assets/img/studio_thumbs_sqr/Anku (11).jpg
      name: Anku (11)
    - thumb_path: /assets/img/studio_thumbs_sqr/Anku (20).jpg
      name: Anku (20)
    - thumb_path: /assets/img/studio_thumbs_sqr/Anku (3).jpg
      name: Anku (3)
---

<div id="about" class="content_page">

  {% for section in page.sections %}
    <div class="row">
      <a href="{{ section.link }}" alt="{{ section.title }}">
        <span class="header-text"><strong>{{ section.title }}</strong></span>
      </a>
    </div>
    <div class="row text">
      <p>{{ section.text }}</p>
    </div>
    <div class="row thumbs">
      {% for image in section.images %}
        <a href="{{ section.link }}" alt="{{ section.title }}">
          <img src="{{ image.thumb_path }}" alt="{{ image.name }}"/>
        </a>
      {% endfor %}
    </div>
    <div class="row">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  {% endfor %}


  <div class="row">
    <div id="images-wrapper"> 
      <!-- <ul> -->
       
      {% for image in page.images %}
      <div class="inner">
        <!-- <li class="inner"> -->
          <a href="{{ image.image_path }}" alt="{{ image.name }}">
            <img src="{{ image.thumb_path }}" alt="{{ image.name }}"/>
          </a>
        <!-- </li> -->
      </div>
      {% endfor %}

      <!-- </ul> -->
    </div>
  </div>
</div>


<script type="text/javascript" src="assets/js/lightbox.js"></script>
<link rel="stylesheet" href="assets/css/lightbox.css">