<div id="about" class="content_page">
  <div class="row">
    <div class="col1 about">
      <img class="myimg" src="{{site.url}}{{site.baseurl}}/assets/img/anku_tattooing_1.png">
    </div>
    <div class="col2 about">
      <!-- <h2>About</h2> -->
      <span class="header-text"><strong>About</strong></span>
      <p>
        Growing up in Taiwan I've always had a passion
        for art and drawing. I graduated with a degree in Graphic
        Design in 2012 where I was already becoming fascinated
        with tattooing. It started with a classmate and no money...
        (we designed our own tattoos to apply on each-other).
        From there I was hooked and began to built my craft,
        studying and practicing, opening my own studio
        in Taiwan in 2016.
      </p>
    </div>
  </div>
</div>


