<div id="about" class="about_container">

  <!-- <div class="item3">
      <span class="header-text"><strong>About2</strong></span>
  </div> -->


  <!-- <div class="item1">
    <img class="myimg" src="{{site.url}}{{site.baseurl}}/assets/img/anku/anku_arms_front.jpg">
  </div> -->

  <!-- <div class="item2">
    <p>
      Anku is a Tattoo Artist from Taiwan. 
      She graduated with a degree in Graphic Design in 2012 but soon after switched 
      to her passion, tattoo art, 
      opening her own studio in Taiwan in 2016. Moving to Eindhoven in 2020 
      meant challenges with COVID and starting over her customer base, but also a meant a new adventure!<br><br>
      
      Anku is <i>fully licensed by the GGD</i>, and only works to the highest standard of hygiene and professionalism.<br><br>
      
      Her work consists almost entirely of <i>custom designs</i> which means
      you as a client gets a new and unique creation from the elements that have meaning for you. 
      This way you're assured of an original design and not a copy of someone else's tattoo. 
      <br><br>
      She's curious about your ideas and wishes! Don't hesitate to send her a <a href="#contact">message</a>!
    </p>
  </div> -->

  
</div>


