<div id="about" class="content_page">
  <div class="row">
    <div class="col1 about">
      <!-- <img class="myimg" src="{{site.url}}{{site.baseurl}}/assets/img/anku_tattooing_1.png"> -->
      <!-- <img class="myimg" src="{{site.url}}{{site.baseurl}}/assets/img/anku/anku_arms_front.jpg"> -->
      <img class="myimg" src="{{site.url}}{{site.baseurl}}/assets/img/anku/anku_tattooing_5_about.jpg">
    </div>
    <div class="col2 about">
      <!-- <h2>About</h2> -->
      <span class="header-text"><strong>About</strong></span>
      <p>
        Anku is a fully licensed (by GGD) independent Tattoo Artist from Taiwan, operating out of her studio
         in Strijp-S, <b>Eindhoven</b>.
        <br><br>
        She mainly focuses on <i>custom designs</i>, creating tattoo-art from elements that have meaning for her clients. 
        Giving you something original to be with you on your life journey. 
        <br><br>
        If you'd like to discuss your potential next tattoo, send her a <a href="#contact">message</a>.
      </p>
    </div>
  </div>
</div>


