<div class="content_page">
  <div class="grid">
    <div class="item_left contact">
        <!-- <div class="gmap_canvas"> -->
          <iframe class="gmap_canvas" src="https://maps.google.com/maps?q=anku%20art%20and%20tattoos%20eindhoven&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          </iframe>
          <!-- <a href="https://google-map-generator.com">embed google maps</a> -->

      <!-- </div> -->
    </div>

    <div class="item_right contact">

      <p>
        Anku Art and Tattoos
        Torenallee 45, 6e verdieping, 5617 BA Eindhoven
      </p>

    </div>
  </div>
</div>

