<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Anku Art & Tattoos</h1>
        
    <h2>Contact</h2>
    
    <address>
      (Glasgebouw, 6th floor!)<br>
      Torenallee 45 <br>
      5617BA Strijp-S <br> 
      Eindhoven<br><br>
      +31 (0)65 1445910
          
      <a class="footer__btn" href="/contact.html">Email</a>
    </address>
  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title"><b>Media</b></h2>

      <ul class="nav__ul">
        <li>
          <a href="{{site.url}}{{site.baseurl}}/gallery_parent.html">Galleries</a>
        </li>

        <li>
          <a href="{{site.url}}{{site.baseurl}}/gallery_tattoos.html">&nbsp;&nbsp;Tattoos</a>
        </li>
            
        <li>
          <a href="{{site.url}}{{site.baseurl}}/gallery_anku.html">&nbsp;&nbsp;Artist</a>
        </li>

        <li>
          <a href="{{site.url}}{{site.baseurl}}/gallery_flash.html">&nbsp;&nbsp;Flash-Art</a>
        </li>

        <li>
          <a href="{{site.url}}{{site.baseurl}}/gallery_studio.html">&nbsp;&nbsp;Studio</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title"><b>Information</b></h2>
      
      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="{{site.url}}{{site.baseurl}}/#about">About Anku</a>
        </li>
        
        <li>
          <a href="{{site.url}}{{site.baseurl}}/info.html">General Info</a>
        </li>
        
        <li>
          <a href="{{site.url}}{{site.baseurl}}/info.html#payment">Price & Payment</a>
        </li>
        
        <li>
          <a href="{{site.url}}{{site.baseurl}}/info.html#appointments">Appointments</a>
        </li>
        
        <li>
          <a href="{{site.url}}{{site.baseurl}}/info.html#aftercare">Aftercare</a>
        </li>
        
          <!-- <li>
            <a href="#">Item</a>
          </li> -->
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title"><b>Contacting</b></h2>
      
      <ul class="nav__ul">
        <li>
          <a href="{{site.url}}{{site.baseurl}}/#contact">Contact</a>
        </li>
        
        <li>
          <a href="{{site.url}}{{site.baseurl}}/#location">Location</a>
        </li>
        
        <li>
          <a href="{{site.url}}{{site.baseurl}}/#floormap">Directions</a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; {{ 'now' | date: "%Y" }} Anku Art and Tattoos. All rights reserved.</p>
    
    <div class="legal__links">
      <!-- <span>Made with <span class="heart">♥</span> remotely from Anywhere</span> -->
    </div>
  </div>
</footer>

