<div class="content_page">
  <div class="row">
    <h1><br>Location</h1>
  </div>
  <div class="row">
    <div class="col1 contact">
      <iframe class="gmap_canvas" src="https://maps.google.com/maps?q=anku%20art%20and%20tattoos%20eindhoven&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      </iframe>
    </div>

    <div class="col2 contact">
      Route en parkeren bij Derma Resort
Onze schoonheidssalon in Eindhoven is makkelijk te bereiken met het openbaar vervoer en de auto. We zitten vlakbij de rondweg Eindhoven, 5 minuten van de A2 en zijn goed te bereiken vanuit België. Vanuit Turnhout is het slechts 30 minuten rijden.

Torenallee 45 
Glasgebouw 4e etage intercom 232
5617 BA, Eindhoven
Nederland

Route NS
Route 9292OV
Route Google Maps

KvK Eindhoven 17181805

Parking info
https://www.mobility-s.nl/parking-s
      <p>
        Your independent tattoo artist in Strijp-S! (Glasgebouw)<br><br>
        <address>
          Torenallee 45<br>
          Glasgebouw 6e etage (intercom 225)  
          5617BA Strijp-S <br> 
          Eindhoven<br><br>
          +31 (0)65 1445910
              
          <a class="footer__btn" href="/contact.html">Email</a>
        </address>
      </p>

    </div>
  </div>
  <div class="row">
    <center><h1><br>Studio Directions<br>Glasgebouw Floorplan</h1></center>
  </div>
  <div class="row">
    <div class="col2 about">
      <img class="myimg" src="{{site.url}}{{site.baseurl}}/assets/img/map/map_web1.png">
    </div>
    <div class="col2 about">
      <img class="myimg" src="{{site.url}}{{site.baseurl}}/assets/img/map/map_web2.png">
    </div>
  </div>
</div>

