<div class="content_page">
  <div class="row">
    <h1><br>Location</h1>
  </div>
  <div class="row">
    <div class="col1 contact">
      <iframe class="gmap_canvas" src="https://maps.google.com/maps?q=anku%20art%20and%20tattoos%20eindhoven&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      </iframe>
    </div>

    <div class="col2 contact">

      <p>
        Your independent tattoo artist in Strijp-S! (Glasgebouw)<br><br>
        <address>
          Torenallee 45 (6th Floor)<br>
          5617BA Strijp-S <br> 
          Eindhoven<br><br>
          +31 (0)65 1445910
              
          <a class="footer__btn" href="/contact.html">Email</a>
        </address>
      </p>

    </div>
  </div>
  <div class="row">
    <h1><br>Glasgebouw Studio Directions</h1>
  </div>
  <div class="row">
    <div class="col2 about">
      <img class="myimg" src="{{site.url}}{{site.baseurl}}/assets/img/map/map_web1.png">
    </div>
    <div class="col2 about">
      <img class="myimg" src="{{site.url}}{{site.baseurl}}/assets/img/map/map_web2.png">
    </div>
  </div>
</div>

