<nav class="main-header">
    <!-- <div class="social-header"> -->
        <div class="sleek__social">
            <a href="https://www.instagram.com/ankutattooist/" class="btn instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://facebook.com/ankutattooist" class="btn facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        <!-- </div> -->	       
    </div>

    <input type='checkbox' class='menu-btn' id='menu-btn'>
    <label for='menu-btn' class='menu-icon', id='menu-icon'>
        <span class="menu-icon__line"></span>
    </label>
    <ul class='nav-links'> 
        {% for item in site.data.navigation %}
            <li class='nav-link'>
                <!-- <label for='menu-btn' class='toggle'> -->
                    <a href="{{site.url}}{{site.baseurl}}{{ item.link }}"{% if page.url == item.link %}class="current"{% endif %}>
                        {{ item.name }}
                    </a>
                    <!-- <a href="{{site.url}}{{site.baseurl}}{{ item.link }}">
                        {{ item.name }}
                    </a> -->
                <!-- </label> -->
            </li>
        {% endfor %}
    </ul>

</nav>