.hero {
    $bg1: #dfd8c5;
    height: 100vh;
    width: 100vw;
    // background: url('../img/background_test.jpeg') no-repeat bottom center;
    // background: url('../img/bg_no_logo.jpg') no-repeat bottom center;
    // // background: url('{{site.url}}{{site.baseurl}}/assets/img/background_test.jpeg') no-repeat bottom center;
    // background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 0 10vw;
    // color: #ffffff;
    // position: relative;

    background: 
        url('../img/leaves.png') 0 no-repeat,
        url('../img/mermaid.png') bottom -10vh right -33vmin no-repeat;
    background-size: contain;
    background-color: $bg1;
    @media only screen and (max-aspect-ratio: 3/2) {
        background: 
            url('../img/leaves.png') calc(100% - 70vw) no-repeat,
            url('../img/mermaid.png') bottom -10vh left 65vw no-repeat;
        background-size: contain;
        background-color: $bg1;
    }

    img {
        margin: auto;
        padding: calc(25vh + 30px) 0;
        display: block;
        width: calc(10vw + 100px);
        text-align: center;
    }



}