$btn-size: 40px;
$colours: (
  // 'facebook': #3b5998,
  'facebook': #000,
  // 'twitter': #3cf,
  // 'youtube': #c4302b,
  // 'instagram': #e95950,
  'instagram': #000,
  // 'linkedin': #0c76a8,
);
$gl1: #f44336;
$gl2: #2196f3;
$gl3: #000;

// Main background colour
$bg1: #dfd8c5;
$bg2: #eeece6;