@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import 'hero';
@import 'header';
@import 'media';
@import 'animations';
@import 'about-flex-box';
@import '_social_icons_orig_tutorial';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}
html, 

body {
    font-family: 'Montserrat', sans-serif;
    //additional:
    // height: 100vh;
    // width: 100vw;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    ///additional
}

.container {
    width: 80%;
    margin: 2rem auto;
    
    p {
        margin: 1rem 0;
    }
}

#about {
    .image {
        max-width: 20vmax;
        margin: auto;

        img {
            border: 0.25rem dotted black;
        }
    }

    a {
        min-width: 25vmax;
        margin: 0.5rem;
    }
}

.current {
    color: green
}

