@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import 'variables';
@import 'globals';
@import 'hero';
@import 'header';
@import 'menu_phone_animations';
@import 'menu_phone';
@import 'about';
@import 'about2';
@import 'social_icons';


.container {
    width: 80%;
    margin: 2rem auto;
    
    p {
        margin: 1rem 0;
    }
}

#about {
    .image {
        max-width: 20vmax;
        margin: auto;

        img {
            border: 0.25rem dotted black;
        }
    }

    a {
        min-width: 25vmax;
        margin: 0.5rem;
    }
}

.current {	
    color: green	
}